.sidenav-container {
  height: 100vh;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
}

.main-content {
  padding: 2rem;
  min-height: calc(100vh - 64px); // Adjust for toolbar height
}

@media (max-width: 900px) {
  .main-content {
    padding: 1rem;
  }
}